In [89]:
import numpy as np
import pandas as pd


from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten

In [90]:
train_df = pd.read_csv('27352_34877_bundle_archive/mnist_train.csv')
test_df = pd.read_csv('27352_34877_bundle_archive/mnist_test.csv')

In [91]:
train_df.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
X_train = train_df.values[:,1:]
y_train = train_df.values[:,:1]

X_train = X_train / 255.

In [93]:
model = Sequential()      # Starting of Neural Network

model.add(Dense(128, activation = 'relu'))     # First Dense Layer with 128 nodes
model.add(Dropout(0.2))

model.add(Dense(10, activation='softmax'))

In [97]:
model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [98]:
model.fit(X_train, y_train, epochs = 10)

Epoch 1/10
60000/60000 [==============================] - 16s 262us/step - loss: 0.2904 - accuracy: 0.9148
Epoch 2/10
60000/60000 [==============================] - 15s 258us/step - loss: 0.1421 - accuracy: 0.9575
Epoch 3/10
60000/60000 [==============================] - 16s 265us/step - loss: 0.1066 - accuracy: 0.9678
Epoch 4/10
60000/60000 [==============================] - 16s 262us/step - loss: 0.0873 - accuracy: 0.9731
Epoch 5/10
60000/60000 [==============================] - 14s 225us/step - loss: 0.0747 - accuracy: 0.9764
Epoch 6/10
60000/60000 [==============================] - 15s 255us/step - loss: 0.0655 - accuracy: 0.9789
Epoch 7/10
60000/60000 [==============================] - 16s 273us/step - loss: 0.0578 - accuracy: 0.9813
Epoch 8/10
60000/60000 [==============================] - 14s 235us/step - loss: 0.0521 - accuracy: 0.9829s - loss: 0.0523 - accura
Epoch 9/10
60000/60000 [==============================] - 14s 240us/step - loss: 0.0495 - accuracy: 0.9840
Epoch 10/10
60000/60000 [==============================] - 17s 284us/step - loss: 0.0435 - accuracy: 0.9857

In [100]:
model

Model: "sequential_11"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_17 (Dense)             (None, 128)               100480
_________________________________________________________________
dropout_8 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_18 (Dense)             (None, 10)                1290
=================================================================
Total params: 101,770
Trainable params: 101,770
Non-trainable params: 0
_________________________________________________________________

In [101]:
X_test = test_df.values[:,1:]
y_test = test_df.values[:,:1]

X_test = X_test / 255.

In [104]:
model.evaluate(X_test,y_test)

10000/10000 [==============================] - 1s 120us/step

[0.07137035958820488, 0.9793000221252441]