# Python Data Structures

In [1]:
name = 'Ashish'

english = 78
maths = 87
science = 88
hindi = 77

In [4]:
print((english + maths + science + hindi)/4)

82

In [ ]:
name_of_first_student =

In [28]:
names = []

english = []
maths   = []
science = []
hindi   = []

In [29]:
names

[]

In [30]:
number_of_students = input("Enter the number of students: ")

for i in range(number_of_students):
    
    names.append(raw_input("Enter the name of student no."))
    hindi.append(input("Enter Student's marks in Hindi."))
    maths.append(input("Enter Student's marks in Maths."))
    science.append(input("Enter Student's marks in Science."))
    english.append(input("Enter Student's marks in English."))

Enter the number of students: 3
Enter the name of student no.Rahul
Enter Student's marks in Hindi.65
Enter Student's marks in Maths.67
Enter Student's marks in Science.88
Enter Student's marks in English.82
Enter the name of student no.Rohan
Enter Student's marks in Hindi.56
Enter Student's marks in Maths.76
Enter Student's marks in Science.56
Enter Student's marks in English.89
Enter the name of student no.Rashmi
Enter Student's marks in Hindi.66
Enter Student's marks in Maths.77
Enter Student's marks in Science.65
Enter Student's marks in English.78

In [31]:
names

['Rahul', 'Rohan', 'Rashmi']

In [32]:
english

[82, 89, 78]

In [33]:
hindi

[65, 56, 66]

In [34]:
maths

[67, 76, 77]

In [35]:
science

[88, 56, 65]

In [38]:
data = [names, english, hindi, maths, science]

In [39]:
data

[['Rahul', 'Rohan', 'Rashmi'],
 [82, 89, 78],
 [65, 56, 66],
 [67, 76, 77],
 [88, 56, 65]]