In [3]:
import pandas as pd

In [4]:
!ls

Data Preprocessing.ipynb Input.ipynb              Pandas.ipynb
Data Types.ipynb         Numpy.ipynb              Type Casting.ipynb
Data.csv                 OS.ipynb                 Walk-trough.ipynb

In [5]:
df = pd.read_csv('Data.csv')

In [11]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [26]:
country = df['Country'].values
age = df['Age'].values
salary = df['Salary'].values
purchased = df['Purchased'].values

In [27]:
country

array(['France', 'Spain', 'Germany', 'Spain', 'Germany', 'France',
       'Spain', 'France', 'Germany', 'France'], dtype=object)

In [28]:
age

array([44., 27., 30., 38., 40., 35., nan, 48., 50., 37.])

In [29]:
salary

array([72000., 48000., 54000., 61000.,    nan, 58000., 52000., 79000.,
       83000., 67000.])

In [30]:
purchased

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [31]:
len(country)

10

In [32]:
len(age)

10

In [33]:
len(salary)

10

In [34]:
len(purchased)

10

In [36]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [37]:
data = df.values

In [39]:
data

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, 'No'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, nan, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', nan, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

In [53]:
data[2:3, :]

array([['Germany', 30.0, 54000.0, 'No']], dtype=object)

In [41]:
lst[2:7,:]

[3, 4, 8, 5, 5]