# List in Python

In [22]:
lst = [1,23,34,46,57]

In [23]:
for i in lst:
    print(i)

1
23
34
46
57

In [32]:
lst[::-1]

[57, 46, 34, 23, 1]

In [ ]:
[57, 46, 34, 23, 1]

In [2]:
'names, english, hindi, maths, science'

'names, english, hindi, maths, science'

In [3]:
data = [['Rahul', 'Rohan', 'Rashmi'],   # Names
         [82, 89, 78],                  # English
         [65, 56, 66],                  # Hindi
         [67, 76, 77],                  # Maths
         [88, 56, 65]]                  # Science

In [54]:
for i in range(len(data[0])):
    print(data[4][i])

88
56
65

In [51]:
data[0]

['Rahul', 'Rohan', 'Rashmi']